.container {width:80% ; margin:auto} 

a {text-decoration: none; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;color: #fff }
a:hover {color:#000}

.button {background-color: #4CAF50;border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;}
.button:hover {color:rgb(62, 87, 231)}

header {background-color: #659DBD; border: 2px #8D8741 solid;}
header h1 {background-color:#659DBD; text-align: center;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
header nav ul {list-style-type: none;  margin-left:10px;}
header nav ul li {display: inline-block; word-spacing:0.1em;}

.main {background-color: #BC986A;margin:40px;border: 5px #8D8741 dotted;padding-top: 40px; padding-right: 50px; padding-bottom: 20px;padding-left: 80px;}
.article_1 h1 {border: 2px #8D8741 solid;display:inline;text-align: left;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:40px;color: #264353;}
.article_1 p {font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 14px;}
.article_1 figure img {border: 4px #68a7da solid;width: 400px;padding:20px;background-color: #8D8741;display: inline;}
.article_1 h2 {border: 2px #8D8741 solid;display:inline;text-align: left;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.article_1 ol {list-style: square;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';font-size: 14px}

.article_2 h1 {border: 2px #8D8741 solid;display:inline;text-align: left;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
.article_2 p {font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 14px;}
.article_2 ol {list-style: upper-latin;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 14px;}

footer {background-color:#659DBD;border: 10px #BC986A dotted;padding:40px 80px}
.column {float: left;width: 33.33%;}
.column img{width: 300px;}
.column h1 {margin-top:25px;margin-left: 40px;text-decoration:underline;padding:10px}
.column ul {margin-top:5px;margin-left: 50px;padding:10px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size:14px;list-style: circle;word-spacing:1px;}
.column p {margin-top:30px;margin-left: 50px;border-radius: 20px;border:#8D8741 solid 2px;padding:10px;background-color: #fff;font-size: 20px;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-weight: 300;font-style: italic;}
.threerows:after {content: "";display: table;clear: both;}
